@use 'sass:map';
@use 'sass:string';
@use 'sass:color';
@use './svars';

@function font($style-key) {
  $style-key: string.to-lower-case($style-key);
  $style: '';

  @if $style-key == 'light' {
    $style: 'Light';
  } @else if $style-key == 'regular' {
    $style: 'Regular';
  } @else if $style-key == 'medium' {
    $style: 'Medium';
  } @else if $style-key == 'semibold' {
    $style: 'SemiBold';
  }

  @return 'Inter #{$style}';
}

@function color($key, $alpha: 1) {
  @return rgba(map.get(svars.$main-colors, $key), $alpha);
}

@function screen-width($key) {
  @return #{map.get(svars.$screen-widths, $key)}px;
}

@function getProjectVar($key, $type, $option: none) {
  $varStr: '';
  @if $type == 'color' {
    @return 'var(--color-#{key}';
  }
  @if $option {
    $varStr: $varStr + '-#{$option}';
  }
  @return $varStr + ')';
}
