@use 'sass:color';
@use 'sass:meta';
@use 'sass:map';
@use 'sass:string';
@use './svars';
@use './functions';

@mixin font($style-key) {
  & {
    font-family: functions.font($style-key), sans-serif;
  }
}

@mixin color-cvars {
  :root {
    // @each $scheme in (light, dark) {
    //   $color-map: if($scheme == light, svars.$light-scheme-colors, svars.$dark-scheme-colors);

    //   @media (prefers-color-scheme: $scheme) {
    //     @each $key, $color in $color-map {
    //       --color-#{$key}: #{$color};
    //     }
    //   }
    // }

    // @each $key, $color in svars.$project-colors {
    //   --color-#{$key}: #{$color};
    //   --color-#{$key}-darker: #{color.scale($color, $lightness: -25%)};
    //   --color-#{$key}-lighter: #{color.scale($color, $lightness: 25%)};
    // }

    @each $key, $color in svars.$main-colors {
      --color-#{$key}: #{$color};
    }
  }
}

@mixin position($type, $top: none, $right: none, $bottom: none, $left: none) {
  & {
    position: $type;
    @if $top {
      top: $top;
    }
    @if $right {
      right: $right;
    }
    @if $bottom {
      bottom: $bottom;
    }
    @if $left {
      left: $left;
    }
  }
}

@mixin size($width, $height) {
  & {
    width: $width;
    height: $height;
  }
}

@mixin if-screen-width($key, $constraint) {
  $width: map.get(svars.$screen-widths, $key);
  & {
    @if $constraint == 'max' {
      @media (max-width: #{$width}px) {
        @content;
      }
    } @else if $constraint == 'min' {
      @media (min-width: #{$width}px) {
        @content;
      }
    }
  }
}
