@use 'sass:color';
@use 'sass:meta';
@use 'sass:map';
@use 'sass:string';
@use './svars';
@use './functions';
@use './typography';

@mixin font($style-key) {
  & {
    font-family: functions.font($style-key), sans-serif;
  }
}

@mixin color-cvars {
  :root {
    // @each $scheme in (light, dark) {
    //   $color-map: if($scheme == light, svars.$light-scheme-colors, svars.$dark-scheme-colors);

    //   @media (prefers-color-scheme: $scheme) {
    //     @each $key, $color in $color-map {
    //       --color-#{$key}: #{$color};
    //     }
    //   }
    // }

    // @each $key, $color in svars.$project-colors {
    //   --color-#{$key}: #{$color};
    //   --color-#{$key}-darker: #{color.scale($color, $lightness: -25%)};
    //   --color-#{$key}-lighter: #{color.scale($color, $lightness: 25%)};
    // }

    @each $key, $color in svars.$main-colors {
      --color-#{$key}: #{$color};
    }
  }
}

@mixin position($type, $top: none, $right: none, $bottom: none, $left: none) {
  & {
    position: $type;
    @if $top {
      top: $top;
    }
    @if $right {
      right: $right;
    }
    @if $bottom {
      bottom: $bottom;
    }
    @if $left {
      left: $left;
    }
  }
}

@mixin size($width, $height) {
  & {
    width: $width;
    height: $height;
  }
}

@mixin safe-inset-padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  & {
    padding-top: calc(env(safe-area-inset-top) + $top);
    padding-right: calc(env(safe-area-inset-right) + $right);
    padding-bottom: calc(env(safe-area-inset-bottom) + $bottom);
    padding-left: calc(env(safe-area-inset-left) + $left);
  }
}
