@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@use './svars';
@use './functions';
@use './typography';

@mixin font($style-key) {
  & {
    font-family: functions.font($style-key), sans-serif;
  }
}

@mixin color-cvars {
  :root {
    @each $key, $color in svars.$main-colors {
      --color-#{$key}: #{$color};
    }
  }
}

@mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
  & {
    position: $type;
    @if $top {
      top: $top;
    }
    @if $right {
      right: $right;
    }
    @if $bottom {
      bottom: $bottom;
    }
    @if $left {
      left: $left;
    }
  }
}

@mixin size($width, $height: null) {
  & {
    width: $width;
    height: if($height, $height, $width);
  }
}
@mixin min-size($min-width, $min-height: null) {
  & {
    min-width: $min-width;
    min-height: if($min-height, $min-height, $min-width);
  }
}

@mixin with-width($width-keys...) {
  $widths: ();
  @each $key in $width-keys {
    $widths: list.append($widths, functions.screen-width($key));
  }
  @content ($widths...);
}

@mixin safe-inset-padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  & {
    padding-top: calc(env(safe-area-inset-top) + $top);
    padding-right: calc(env(safe-area-inset-right) + $right);
    padding-bottom: calc(env(safe-area-inset-bottom) + $bottom);
    padding-left: calc(env(safe-area-inset-left) + $left);
  }
}
