@use 'sass:color';
@use 'sass:meta';
@use 'sass:map';
@use 'sass:string';
@use './svars';
@use './functions';
@use './typography';

@mixin font($style-key) {
  & {
    font-family: functions.font($style-key), sans-serif;
  }
}

@mixin color-cvars {
  :root {
    @each $key, $color in svars.$main-colors {
      --color-#{$key}: #{$color};
    }
  }
}

@mixin position($type, $top: none, $right: none, $bottom: none, $left: none) {
  & {
    position: $type;
    @if $top {
      top: $top;
    }
    @if $right {
      right: $right;
    }
    @if $bottom {
      bottom: $bottom;
    }
    @if $left {
      left: $left;
    }
  }
}

@mixin size($width, $height: none) {
  & {
    width: $width;
    height: if($height, $height, $width);
  }
}
@mixin min-size($min-width, $min-height: none) {
  & {
    min-width: $min-width;
    min-height: if($min-height, $min-height, $min-width);
  }
}

@mixin if-property($property, $operator, $value) {
  & {
    @if $operator == '<=' {
      @media ($property <= $value) {
        @content;
      }
    } @else if $operator == '>=' {
      @media ($property >= $value) {
        @content;
      }
    } @else if $operator == '==' {
      @media ($property: $value) {
        @content;
      }
    }
  }
}
@mixin if-width($operator, $key) {
  $width: functions.screen-width($key);
  @include if-property(width, $operator, $width) {
    @content;
  }
}

@mixin safe-inset-padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  & {
    padding-top: calc(env(safe-area-inset-top) + $top);
    padding-right: calc(env(safe-area-inset-right) + $right);
    padding-bottom: calc(env(safe-area-inset-bottom) + $bottom);
    padding-left: calc(env(safe-area-inset-left) + $left);
  }
}
