@use 'sass:color';
@use 'sass:meta';
@use './svars';

@mixin color-cvars {
  :root {
    @each $scheme in (light, dark) {
      $color-map: if($scheme == light, svars.$light-scheme-colors, svars.$dark-scheme-colors);

      @media (prefers-color-scheme: $scheme) {
        @each $key, $color in $color-map {
          --color-#{$key}: #{$color};
        }
      }
    }

    @each $key, $color in svars.$project-colors {
      --color-#{$key}: #{$color};
      --color-#{$key}-darker: #{color.scale($color, $lightness: -25%)};
      --color-#{$key}-lighter: #{color.scale($color, $lightness: 25%)};
    }
  }
}
