@font-face {
  font-family: 'Inter Light';
  src: url('../fonts/Inter-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter Regular';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter Medium';
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter SemiBold';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}
