@use './functions' as fun;
@use './mixins' as mix;

@include mix.color-cvars;

@font-face {
  font-family: 'Inter Medium';
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter Regular';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter SemiBold';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

html,
body {
  background-color: var(--color-background);
  font-family: 'Inter Regular', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
