@use './mixins';

@include mixins.color-cvars;

@font-face {
  font-family: 'Inter Medium';
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter Regular';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter SemiBold';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

html,
body {
  background-color: var(--color-background);
  font-family: 'Inter Regular', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
}

main {
  @include mixins.position(fixed, 0, 0, 0, 0);
}

article {
  @include mixins.position(absolute, 0, 0, 0, 0);
  overflow-y: scroll;
  padding: 2rem;
  z-index: 10;

  @media (max-width: 640px) {
    padding: 1rem;
  }
}
