@use './typography';
@use './svars';
@use './mixins';
@use './functions';

@include mixins.color-cvars;

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

html,
body {
  @include mixins.font('regular');
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/public/img/shared/background_texture.png');
  position: relative;
}

h1,
h2,
h3 {
  @include mixins.font('regular');
  font-size: 1rem;
  margin: 0;
}

main {
  @include mixins.position(fixed, 0, 0, 0, 0);
}

a,
a:link,
a:visited {
  color: functions.color('tint');
}

strong {
  @include mixins.font('semibold');
}

.caption {
  @include mixins.font('medium');
  font-size: 0.75rem;
}
