@use './typography';
@use './svars';
@use './mixins';
@use './functions';

@include mixins.color-cvars;

* {
  box-sizing: border-box;
  font-weight: normal;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html {
  @include mixins.font('regular');
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  overflow: hidden;
  width: 100%;
}

body {
  background-image: url('/public/img/shared/background_texture.png');
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 0;

  & {
    // To prevent auto. font-size adjustment esp. on iPhones
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
}

#app {
  background-image: url('/public/img/shared/background_spotlight.png');
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

h1 {
  @include mixins.font('regular');
  font-size: 1rem;
  margin: 0;
}

a,
a:link,
a:visited {
  color: functions.color('tint');
}

strong {
  @include mixins.font('semibold');
}

.caption {
  @include mixins.font('medium');
  font-size: 0.75rem;
}
